<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [path]="'home'" [currentHome]="true"></app-navbar>

<!-- investements -->

    <div class="flex container mx-auto m-12 justify-center">
        <h1 class="text-2xl md:text-4xl mr-10">Tableau Info</h1>
        <button  type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " routerLink="/client-info-current">Info Clients</button>
    </div>


<div class="container  flex flex-wrap flex-col items-center justify-center  mx-auto md:flex-row">

    <div class="flex-col w-60  m-6 " *ngFor="let s of summary; let i = index;  ">
        <a routerLink="{{linkPath[i]}}" class="block max-w-sm  p-6 bg-neutral-200 border border-gray-200 rounded-lg  shadow hover:bg-green-100">
            <img src="{{imagePaths[i]}}" alt="" class="w-20  justify-center mx-auto ">
            
            <h5 class="my-2 text-2xl text-center font-bold  tracking-tight text-gray-900">{{s}}</h5>
            <h2 class="font-bold text-lg text-green-700 text-center" *ngIf="i>2"> FC {{summaryContent[i] | number:'1.0-0'}} </h2>
            <h2 class="font-bold text-lg text-yellow-900 text-center" *ngIf="i>2 "> $ {{valuesConvertedToDollars[i] | number:'1.0-0'}}</h2>
            <h2 class="font-bold  text-lg text-green-700 text-center" *ngIf="i<=2 ">  {{summaryContent[i] }}</h2>
        </a>
    </div>
    


</div>




<div class=" container flex mx-auto shadow-xl  flex-col md:justify-center justify-between  md:flex-row ">
        
        <div class="flex flex-col">
            <h1 class="m-12 text-3xl md:text-4xl text-center"> Paiements Quotidiens</h1>
            <!-- <div class="mb-6 ">
                <label for="payments" class="block mb-2 text-md font-medium text-gray-900 m-2">Intervalle De Temps</label>
                <select id="payments" [(ngModel)]="graphicTimeRangePayment"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " (change)="updatePaymentGraphics()">
                <option [ngValue]="5">Semaine</option>
                <option [ngValue]="20">Mois</option>
                <option [ngValue]="maxRange">Max</option>
                </select>
            </div> -->
            <div class="inline-flex rounded-md shadow-sm mx-auto" role="group">
                <button (click)="updatePaymentGraphics(5)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Semaine
                </button>
                <button (click)="updatePaymentGraphics(20)" type="button" class=" px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Mois
                </button>
                <button (click)="updatePaymentGraphics(maxRange)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Max
                </button>
              </div>
            <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>

        </div>

        <div class="flex flex-col">
            <h1 class="m-12 text-3xl md:text-4xl text-center">Emprunts Quotidiens</h1>
            <div class="inline-flex rounded-md shadow-sm mx-auto" role="group">
                <button (click)="updateLendingGraphics(5)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Semaine
                </button>
                <button (click)="updateLendingGraphics(20)" type="button" class=" px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Mois
                </button>
                <button (click)="updateLendingGraphics(maxRange)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Max
                </button>
              </div>
            <!-- <div class="mb-6 mx-10">
                <label for="lending" class="block mb-2 text-md font-medium text-gray-900 m-2">Intervalle De Temps</label>
                <select id="lending" [(ngModel)]="graphicTimeRangeLending"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " (change)="updateLendingGraphics()">
                <option [ngValue]="5">Semaine</option>
                <option [ngValue]="20">Mois</option>
                <option [ngValue]="maxRange">Max</option>
                </select>
            </div> -->
            <plotly-plot [data]="graph2.data" [layout]="graph2.layout"></plotly-plot>

        </div>



</div>

<div class=" container  flex mx-auto shadow-xl  flex-col md:justify-center md:flex-row  ">

    <div class="flex flex-col r">
    <h1 class="text-3xl m-12 md:text-4xl text-center">Performance</h1>
    <div class="inline-flex rounded-md shadow-sm mx-auto" role="group">
        <button (click)="updatePerformanceGraphics(5)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
            Semaine
        </button>
        <button (click)="updatePerformanceGraphics(20)" type="button" class=" px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
            Mois
        </button>
        <button (click)="updatePerformanceGraphics(maxRange)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
            Max
        </button>
      </div>
    <!-- <div class="mb-6">
  
        <label for="payments" class=" block mb-2 text-md font-medium text-gray-900 m-2">Intervalle De Temps</label>
        <select id="payments" [(ngModel)]="graphicPerformanceTimeRange"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " (change)="updatePerformanceGraphics()">
        <option [ngValue]="5">Semaine</option>
        <option [ngValue]="20">Mois</option>
        <option [ngValue]="maxRangePerformance">Max</option>
        </select>

       
    </div> -->
        <plotly-plot [data]="graphPerformance.data" [layout]="graphPerformance.layout"></plotly-plot>

    </div>

    
</div>
