<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [path]="'home'"></app-navbar>
<div class="flex container mx-auto m-12 justify-center">
    <h1 class="text-xl md:text-3xl mr-4">Dépôt De Carte Par {{clientCard.firstName}} {{clientCard.middleName}} {{clientCard.lastName}}</h1>
</div>

<div class="flex container justify-center mx-auto">

<div class=" border-2 border-green-800 rounded-lg p-12">
  
    






<div class="mb-6">
    <label for="payment" class="block mb-2 text-sm font-medium text-red-700">Montant De Dépôt</label>
    <select id="payment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " [(ngModel)]="depositAmount"selected>
    <option [ngValue]=depositAmount>FC {{clientCard.amountToPay}}</option>

    <!-- <option [ngValue]="">Autre Montant </option> -->
    </select>
</div>



   

<button class="mr-10 text-white bg-green-700 hover:bg-green-800 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " [routerLink]="['/client-portal-card',id ]">Annuler</button>
    <button  (click)="makePayment()" class=" text-white bg-green-700 hover:bg-green-800  font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center ">Soumettre</button>
   
</div>


</div>