<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [path]="'home'"></app-navbar>


<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white ">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue ">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 ">
                        <img *ngIf="employee.profilePicture ===undefined" class="mr-4 w-32  rounded-full"src="../../../assets/img/user.png" alt="Employee s">
                        <img *ngIf="employee.profilePicture!==undefined" class="mr-4 w-32  rounded-full"[src]="employee.profilePicture.downloadURL" alt="Jese Leos">
                       
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 ">{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</a>
                            <p class="text-base text-gray-500 ">Role: {{employee.role}}</p>
                            <p class="text-base text-gray-500 "> Jours de vacances restants: {{vacation}} </p>
                            <p class="text-base text-gray-500  mb-4"> Performance {{preposition}}  {{time.monthFrenchNames[givenMonth-1]}} : <strong> {{performancePercentageMonth}} %</strong> </p>
                            <button *ngIf="this.auth.isAdmninistrator" (click)="toggleCheckVisibility()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-4 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Basculer Bonus Visibilité</button>
                            <button *ngIf="checkVisible==='true'" (click)="toggleCode()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Signer Bonus</button>
                            <button *ngIf="this.auth.isAdmninistrator" (click)="togglePaymentCheckVisibility()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mt-4 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Basculer Paiement Visibilité</button>
                            <button *ngIf="paymentCheckVisible==='true'" (click)="toggleCode()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Signer Paiement</button>
                            <button *ngIf="this.auth.isAdmninistrator" (click)="toggleSetCode()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Mis A Jour Code</button>
                        
                            
                        </div>
                      
                        
                    </div>
                </address>
                <div class="flex container mx-auto justify-center text-center space-x-8">

                    <div class="mb-6 ">
          
                        <select  id="payments" [(ngModel)]="givenMonth"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  "(change)="retrieveEmployees()" >
                        <option *ngFor="let month of monthsList" [ngValue]="month">{{time.monthFrenchNames[month-1]}}</option>
                       
               
                        </select>
                    </div>
            
                    <div class="mb-3">

                        <select id="payments" [(ngModel)]="givenYear"class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  "  (change)="retrieveEmployees()">
                        <option  *ngFor="let year of yearsList" [ngValue]="year">{{year}}</option>
                      
    
                        </select>
                    </div>
                    
                    
            
                </div>
                <div class=" container  flex mx-auto shadow-xl  flex-col md:justify-center md:flex-row  ">

                    <div class="flex flex-col ">
                     
                        <div class="w-full max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto mt-0 mb-2">
                            <plotly-plot [data]="graphMonthPerformance.data" [layout]="graphMonthPerformance.layout"></plotly-plot>
                          </div>
                        
                    </div>
        
            
                </div>


                <div class="relative overflow-x-auto mb-6 shadow-xl">
                    <div class="container ">
                        <table class="attendance-table">
                            <thead>
                                <tr>
                                    <th>Dimanche</th>
                                    <th>Lundi</th>
                                    <th>Mardi</th>
                                    <th>Mercredi</th>
                                    <th>Jeudi</th>
                                    <th>Vendredi</th>
                                    <th>Samedi</th>
                                   
                                </tr>
                            </thead>
                            <tbody id="attendance-body">
                                <!-- Rows will be generated dynamically -->
                            </tbody>
                        </table>
                    </div>

                </div>
            
                <div class="flex flex-wrap">
                    <button *ngIf="this.auth.isAdmninistrator"  type="submit" (click)="toggleMakePayment()"  class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4 ml-4  my-3">Paiement</button>
                    <button *ngIf="this.auth.isAdmninistrator || auth.isDistributor"  type="submit" (click)="toggleAttendance()" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4 ml-4  my-3">Présence</button>
                    <button  type="submit" (click)="determineAttendance()" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4 ml-4  my-3">Présence Employée</button>
               
                    <button  type="submit" (click)="toggle('showRequestVacation')" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4 ml-4  my-3">Demande Vacances</button>
                    
                </div>
                <div *ngIf="showRequestVacation" class="mb-4">
                    <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900">Date de Prendre les vacances</label>
                    <input [(ngModel)]="requestDate" type="date" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " placeholder="11-2-2023" required>
                    <button  type="submit" (click)="toggle('showRequestVacation')" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4 ml-4 ">Annuler</button>
                    <button  type="submit" (click)="requestVacation()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4 ml-4 ">Soumettre</button>
                </div>

                <div *ngIf=" employee.attendance" class="p-4 bg-gray-100 rounded-lg shadow-md">
                    <h3 class="text-lg font-semibold text-gray-700 mb-4">Vacances en cours</h3>
                    <ul class="space-y-4">
                      <li
                        *ngFor="let date of getVacationInProgressDates()"
                        class="flex items-center justify-between p-4 bg-white rounded-lg shadow-sm border"
                      >
                        <span class="text-gray-700 font-medium">{{ date }}</span>
                        <div *ngIf="this.auth.isAdmin " class="flex gap-2">
                          <button
                            (click)="acceptVacation(date)"
                            class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600"
                          >
                            Accepter
                          </button>
                          
                          <button 
                            (click)="rejectVacation(date)"
                            class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600"
                          >
                            Annuler
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  
            </header>

        

        <div class="relative overflow-x-auto mb-6 shadow-xl">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 rounded-s-lg">
                            Details De Performance
                        </th>
                        <th scope="col" class=" py-3">
                           Aujhourd'hui ({{day}})
                        </th>
                        <th scope="col" class="px-6 py-3 rounded-e-lg">
                            {{time.monthFrenchNames[givenMonth-1]}} {{givenYear}}
                         <!-- {{monthYear}}  -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white dark:bg-gray-800">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Points De Performance
                        </th>
                        <td class="px-6 py-4">
                            {{averageToday}} / {{totalToday}}
                        </td>
                        <td class="px-6 py-4">
                          {{averagePointsMonth}} /{{totalPointsMonth}}
                        </td>
                    </tr>
                    <tr class="bg-white dark:bg-gray-800">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            Pourcentage De Performance
                        </th>
                        <td class="px-6 py-4">
                            {{employee.performancePercantage}} %
                        </td>
                        <td class="px-6 py-4">
                           {{performancePercentageMonth}}%
                        </td>
                    </tr>
                    
                </tbody>
                <tfoot *ngIf="this.auth.isAdmninistrator">
                    <tr class="font-semibold text-gray-900 dark:text-white">
                        <th scope="row" class="px-6 py-3 text-base"></th>
                        <td class="py-4">
                            <a (click)="generateInvoice()" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Facture de Paiement</a>
                        </td>
                        <td class="py-4">
                            <a (click)="generateInvoiceBonus()" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Facture de Bonus</a>
                        </td>
                       
                      
                    </tr>
                </tfoot>
                
               
            </table>
        </div>


        <div class=" container  flex lg:block mx-auto shadow-xl  flex-col md:justify-center md:flex-row  ">

            <div class="flex flex-col ">
                <h1 class="text-3xl m-12 md:text-4xl text-center">Performance</h1>
                <div class="inline-flex rounded-md shadow-sm mx-auto" role="group">
                    <button (click)="updatePerformanceGraphics(5)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                        Semaine
                    </button>
                    <button (click)="updatePerformanceGraphics(20)" type="button" class=" px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                        Mois
                    </button>
                    <button (click)="updatePerformanceGraphics(maxRange)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                        Max
                    </button>
                  </div>
                <plotly-plot [data]="graphPerformance.data" [layout]="graphPerformance.layout"></plotly-plot>

            </div>

    
        </div>
           
           
        
     
        </article>
    </div>
</main>



  <!-- Main modal -->
  <div *ngIf="displayMakePayment" id="defaultModal" tabindex="-1" class="w-full max-w-md max-h-full  fixed inset-x-0 mx-auto top-36 z-50 p-4 flex pb-6">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Paiment a {{employee.firstName}} {{employee.middleName}}  {{employee.lastName}}
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal" (click)="toggleMakePayment()">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div>
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    
                    <div>
                        <label for="salaryPaid" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Montant Payer $</label>
                        <input type="text" name="salaryPaid" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" [(ngModel)]="salaryPaid" placeholder="100" required="">
                    </div>
                   
                    
                    
                   
                </div>
                <div class="mb-4">
                    <h1 class="mb-4">Attacher l'Image de Paiement </h1>
                <input type="file" id="getFile" style="display:none" (change)="startUpload($any($event.target).files)">
                <!-- <svg class=" w-32 h-32 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 24 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg> -->
                <img *ngIf="currentDownloadUrl===''"  class="w-20 mx-auto rounded-lg sm:rounded-none sm:rounded-l-lg " (click)="onImageClick()" src="../../../assets/img/file.png" alt="file">
                <img *ngIf="currentDownloadUrl!==''"  class="w-20 mx-auto rounded-lg sm:rounded-none sm:rounded-l-lg " (click)="onImageClick()" [src]="currentDownloadUrl" alt="file">
               
                <!-- <img class="w-72 rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="Bonnie Avatar"> -->
            
            </div>
            
                <div class="flex flex-row mx-auto justify-center space-x-4">
                    <button type="submit" (click)="toggleMakePayment()" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " >Annuler</button>
                    <button type="submit" (click)="addPayment()"  class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " >Ajouter</button>
                
                </div>
              
            </div>
        </div>
    </div>
</div>
<div *ngIf="this.auth.isAdmninistrator || this.auth.isDistributor" class="mt-6 flex flex-col container mx-auto  justify-center  px-4 space-y-2">

         
    <!-- src/app/presence-check/presence-check.component.html -->
    <button (click)="setLocation()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4 ml-4 ">Définir l'emplacement actuel comme lieu de travail</button>
    <!-- <button class="text-black" (click)="setLocation()">Set Current Location as Workplace</button> -->
    <div *ngIf="this.auth.isAdmninistrator" class="max-w-sm mx-auto">
        <label for="number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Set The Radius</label>
        <input [(ngModel)]="radius" type="number" id="number-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="90210" required />
       
    </div>
    <div *ngIf="this.auth.isAdmninistrator" class="max-w-sm mx-auto">
        <label for="number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Set Limit Hour</label>
        <input [(ngModel)]="limitHour" type="number" id="number-input" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="90210" required />
       
    </div>
    <div class="my-3" *ngIf="locationSet">
    <p class="mx-auto">L'emplacement a été défini {{ currentLat }}, Longitude {{ currentLng }}</p>
   
   
    </div>
    <button *ngIf="this.auth.isAdmninistrator || this.auth.isDistributor" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4 ml-4 " (click)="checkPresence()">
        Vérifiez si vous êtes sur le lieu de travail</button>

    <div class="my-3" *ngIf="withinRadius === true">
    <p>Vous êtes au lieu du travail {{radius}}, du rayon autorisé. Présence confirmée ! À l'heure</p>
    <p>{{onTime}}</p>
    </div>
    <div class="my-3" *ngIf="withinRadius === false">
    <p>Vous êtes en dehors du lieu de travail</p>
    <p>{{onTime}}</p>
    </div>
    <div class="my-3" *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>
    </div>
 </div>



<div class=" mt-6 flex container mx-auto  justify-center">

    <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-4">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Paiements</h5>
            <div class="flex items-center">   
                <label for="simple-search" class="sr-only">Chercher</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
                        </svg>
                    </div>
                    <input type="text" [(ngModel)]="code" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Entrer Le Code..." required>
                </div>
                <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-green-700 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>

                    <span class="sr-only">Chercher</span>
                </button>
            </div>
            
    </div>
    <div *ngIf="code===paymentCode" class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                <li class="py-3 sm:py-4 hover:bg-gray-100 dark:hover:bg-gray-600" *ngFor="let p of paymentAmounts; let i=index">
                    <a [href]="employee.paymentsPicturePath![paymentAmounts.length - 1 - i]"target="_blank">
                    <div class="flex items-center space-x-4">
                     <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                         <span class="font-medium text-gray-600 dark:text-gray-300">{{this.auth.currentUser.firstName?.substring(0,2)}}</span>
                     </div>
                        <div class="flex-1 min-w-0">
                         <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                             {{paymentDates[i]}}
                         </p>
                         <!-- <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                         {{paymentDates[i].replaceAll('-','/').substring(0,9)}}
                         </p> -->
                     </div>
                  
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            
                         $ {{paymentAmounts[i] | number:'1.0-0'}}
                        </div>
                        <img [src]="employee.paymentsPicturePath![paymentAmounts.length - 1 - i]" class="w-12" alt="">
                    </div>
                    </a>
                </li>
            </ul>
    </div>
    
    </div>
    
  


    <div *ngIf="displayAttendance" id="defaultModal" tabindex="-1" class="w-full max-w-md max-h-full  fixed inset-x-0 mx-auto top-0 z-50 p-4 flex pb-6">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <!-- Modal header -->
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                       Presence Pour le {{frenchDate}}
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal" (click)="toggleAttendance()">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div>
                    <div class="grid gap-4 mb-4 sm:grid-cols-2">
                     
              
                        <div>
                            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Présence</label>
                            <select [(ngModel)]="attendance" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option selected=""></option>
                                <option [ngValue]="'P'" >Present</option>
                                <option [ngValue]="'A'" >Absent</option>
                                <option [ngValue]="'L'" >Retard</option>
                                <option [ngValue]="'N'" >Néant</option>
                               
                            </select>
                        </div>
                        
                      
                       
                        
                       
                    </div>
                    <div class="flex flex-row mx-auto justify-center space-x-4">
                        <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " (click)="toggleAttendance()">Annuler</button>
                        <button type="submit" (click)="addAttendance()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " >Confirmer</button>
                    
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="displayBonus" id="defaultModal" tabindex="-1" class="w-full max-w-md max-h-full  fixed inset-x-0 mx-auto top-10 z-50 p-4 flex pb-6">
        <div class="mt-6 grow sm:mt-8 lg:mt-0">
            
            <div class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6 dark:border-gray-700 dark:bg-gray-800">
                <h2 class="font-bold  "> {{employee.firstName}}  {{employee.lastName}} Bonus {{time.monthFrenchNames[lastMonth-1]}} {{year}}</h2>
              <div class="space-y-2">
                <dl *ngIf="bonusPercentage!==0 || this.auth.isAdmninistrator" class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Performance {{bonusPercentage}}%</dt>
                  <dd class="text-base font-medium  text-green-500">$ {{bonusAmount}}</dd>
                </dl>
                <div *ngIf="this.auth.isAdmninistrator">
                    <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nkokori" required=""[(ngModel)]="bonusPercentage">
                    <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nkokori" required=""[(ngModel)]="bonusAmount">
                                      
                </div>
  
                <dl *ngIf="bestTeamBonusAmount!==0 || this.auth.isAdmninistrator" class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Meilleure Equipe</dt>
                  <dd class="text-base font-medium text-green-500">${{bestTeamBonusAmount}}</dd>
                </dl>
                <div *ngIf="this.auth.isAdmninistrator">
                    <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nkokori" required=""[(ngModel)]="bestTeamBonusAmount">
                        
                </div>
                <dl *ngIf="bestEmployeeBonusAmount!==0 || this.auth.isAdmninistrator" class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Meilleure Employee</dt>
                    <dd class="text-base font-medium text-green-500">${{bestEmployeeBonusAmount}}</dd>
                  </dl>
                  <div *ngIf="this.auth.isAdmninistrator">
                      <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nkokori" required=""[(ngModel)]="bestEmployeeBonusAmount">
                          
                  </div>
                  <dl *ngIf="bestManagerBonusAmount!==0 || this.auth.isAdmninistrator" class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Meilleure Manager</dt>
                    <dd class="text-base font-medium text-green-500">${{bestManagerBonusAmount}}</dd>
                  </dl>
                  <div *ngIf="this.auth.isAdmninistrator">
                      <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nkokori" required=""[(ngModel)]="bestManagerBonusAmount">
                          
                  </div>
                 
  
                
              </div>
  
              <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white">$ {{totalBonusAmount | number:'1.0-0'}}</dd>
              </dl>
              <div>
                <button (click)="toggleBonus()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Annuler</button>
                <button (click)="updateEmployeeBonusInfoAndSignCheck()" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-blue-800">Confirmer</button>
                <button *ngIf="this.auth.isAdmninistrator" (click)="updateEmployeeBonusInfo()" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-blue-800">Mis A Jour</button>
       
              </div>
              
            </div>
         
  
            
          </div>
    </div>
   
   


    <div *ngIf="displayPayment" id="defaultModal" tabindex="-1" class="w-full max-w-md max-h-full  fixed inset-x-0 mx-auto top-10 z-50 p-4 flex pb-6">
        <div class="mt-6 grow sm:mt-8 lg:mt-0">
            
            <div class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6 dark:border-gray-700 dark:bg-gray-800">
                <h2 class="font-bold  "> {{employee.firstName}}  {{employee.lastName}} Paiement {{time.monthFrenchNames[lastMonth]}} {{year}}</h2>
              <div class="space-y-2">
                <dl *ngIf="paymentAmount!==0 || this.auth.isAdmninistrator" class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Paiement </dt>
                  <dd class="text-base font-medium  text-green-500">$ {{paymentAmount | number:'1.0-0'}}</dd>
                </dl>
                <dl *ngIf="paymentAbsent!==0 || this.auth.isAdmninistrator" class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-red-500 ">Absent </dt>
                    <dd class="text-base font-medium  text-red-500">$ {{paymentAbsent | number:'1.0-0'}}</dd>
                  </dl>
                  <dl *ngIf="paymentNothing!==0 || this.auth.isAdmninistrator" class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-red-500 ">Néant </dt>
                    <dd class="text-base font-medium  text-red-500">$ {{paymentNothing | number:'1.0-0'}}</dd>
                  </dl>
                <div *ngIf="this.auth.isAdmninistrator">
                    <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="100" required=""[(ngModel)]="paymentAmount">
                                      
                </div>
                <div *ngIf="this.auth.isAdmninistrator">
                    <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="6" required=""[(ngModel)]="paymentAbsent">
                                      
                </div>
                <div *ngIf="this.auth.isAdmninistrator">
                    <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="6" required=""[(ngModel)]="paymentNothing">
                                      
                </div>
                
            </div>
  
              <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white">$ {{totalPayments| number:'1.0-0'}}</dd>
              </dl>
              <div>
                <button (click)="togglePayment()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Annuler</button>
                <button (click)="updateEmployeePaymentInfoAndSignCheck()" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-blue-800">Confirmer</button>
                <button *ngIf="this.auth.isAdmninistrator" (click)="updateEmployeePaymentInfo()" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-blue-800">Mis A Jour</button>
       
              </div>
              
            </div>
         
  
            
        </div>
    </div>
   
    

    
    <div *ngIf="displayCode" id="defaultModal" tabindex="-1" class="w-full max-w-md max-h-full  fixed inset-x-0 mx-auto top-10 z-50 p-4 flex pb-6">
        <div class="mt-6 grow sm:mt-8 lg:mt-0">
            
            <div class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6 dark:border-gray-700 dark:bg-gray-800">
                <h2 class="font-bold  "> Entrez le code</h2>
              <div class="space-y-2">
                
                <div >
                    <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="code" required=""[(ngModel)]="code">
                              
                </div>
  
              <div>
                <button (click)="toggleCode()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Annuler</button>
                <button (click)="toggleBonusIfCodeCorrect()" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-blue-800">Voir Paiement</button>
                
              </div>
              
            </div>
         
  
            
          </div>
                
        </div>
               

    </div>

    <div *ngIf="displaySetCode" id="defaultModal" tabindex="-1" class="w-full max-w-md max-h-full  fixed inset-x-0 mx-auto top-10 z-50 p-4 flex pb-6">
        <div class="mt-6 grow sm:mt-8 lg:mt-0">
            
            <div class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6 dark:border-gray-700 dark:bg-gray-800">
             
  
                <dl *ngIf="this.auth.isAdmninistrator" class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Mettre A Jour le code</dt>
                    <dd class="text-base font-medium  text-green-500"> {{code}}</dd>
                  </dl>
                  <div *ngIf="this.auth.isAdmninistrator">
                      <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nkokori" required=""[(ngModel)]="code">

                                        
                  </div>
              
            
                <div>
                    <button (click)="setCode()" type="button" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-blue-800">Mettre A Jour</button>
                    <button (click)="toggleSetCode()" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">Annuler</button>
                </div> 
              
            </div>
         
  
            
          </div>
      
   

        </div>
   

        <div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-50 bg-opacity-50 bg-gray-800">
            <div role="status" class="flex flex-col items-center">
              <svg aria-hidden="true" class="w-12 h-12 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Chargement...</span>
              <div class="mt-2 text-white">Traitement de votre demande...</div>
            </div>
          </div>
    