<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [path]="'home'"></app-navbar>

<div class="flex container mx-auto justify-center m-12">
    <h1 class=" md:block text-2xl text-center md:text-4xl mr-4 ml-4 ">Profile Du Client Enregistrer</h1>
    <button *ngIf="client.type==='register'" type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mr-4" [routerLink]="['/transform-register-client',id ]">Transformer en Client Complet</button>
    <!-- <button type="submit" class="text-white bg-red-700 hover:bg-red-800  ml-4 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " (click)="delete()">Supprimer Client</button> -->
</div>
<div *ngIf="!client?.profilePicture" class="flex container mx-auto justify-center">
    
    <input type="file" [id]="'putPicture'" style="display:none" (change)="startUpload($any($event.target).files)">
    <button (click)="onImageClick('putPicture')" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Ajouter Photo Du Client</button>
</div>
<div *ngIf="client?.profilePicture" class="flex container mx-auto justify-center">
    <div *ngIf="client?.profilePicture?.downloadURL" >
        <input type="file" [id]="'changePicture'" style="display:none" (change)="startUpload($any($event.target).files)">
        <a (click)="onImageClick('changePicture')">  <img [src]="client.profilePicture!.downloadURL" class="h-64 md:h-80 mb-4" alt="">
   
        </a>
      
    </div>

</div>
<div *ngIf="this.auth.isAdmin" class="flex container mx-auto justify-center mb-4">
    <div *ngIf="agentVerifyingName !== ''" class="flex items-center text-green-600 text-xl font-bold">
      ✔️ Client vérifié 
      par {{agentVerifyingName}}
    </div>
    <div *ngIf="agentVerifyingName === ''" class="flex items-center text-red-600 text-xl font-bold">
      ❌ Client non vérifié
    </div>
  </div>
  

<div id="fullWidthTabContent" class=" rounded-lg  dark:border-gray-600">
    <div class=" mx-4 lg:mx-60 p-4 bg-white rounded-lg md:p-8 border-2 shadow-lg border-gray-200 dark:bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
        <dl class="grid  max-w-screen-xl grid-cols-2 text-gray-900 gap-8 p-4 mx-auto sm:grid-cols-3 xl:grid-cols-3 dark:text-white sm:p-8">
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold text-center"> {{client.firstName}} {{client.lastName}} {{client.middleName}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Membre Depuis {{client.dateJoined?.replaceAll('-','/')}}</dd>
            </div>
           
            <div class="flex flex-col items-center justify-center" [routerLink]="['/update-client-info',id ]">
                <dt class="mb-2 text-xl md:text-2xl font-extrabold text-center"> ({{client.phoneNumber| slice:0:3}}) - {{client.phoneNumber| slice:3:6}} - {{client.phoneNumber| slice:6:10}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Numero Telphone</dd>
            </div>
            <div class="flex flex-col items-center justify-center" [routerLink]="['/update-client-info',id ]">
                <dt class="mb-2 text-xl md:text-2xl font-extrabold text-center">{{client.businessAddress}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Adress Business</dd>
            </div>
            

           
           
           
            

           
            <div class="flex flex-col items-center justify-center" [routerLink]="['/update-client-info',id ]">
                <dt class="mb-2 text-xl text-center md:text-2xl font-extrabold">{{client.homeAddress}}</dt>
                <dd class="text-gray-500 text-center  dark:text-gray-400">Adress Domicile</dd>
            </div>
            <div class="flex flex-col items-center justify-center" [routerLink]="['/update-client-info',id ]">
                <dt class="mb-2 text-xl md:text-2xl text-center font-extrabold">{{client.profession}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Profession</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.savings | number:'1.0-0'}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Epargnes (FC)</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.applicationFee| number:'1.0-0'}} </dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Frais De Dossier Payé (FC)</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.membershipFee | number:'1.0-0'}} </dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Frais D'ahesion Payé (FC)</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.requestAmount| number:'1.0-0'}} </dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Montant Demandé (FC) </dd>
            </div>
            
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.debtCycle| number:'1.0-0'}} </dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Cycle De Dette </dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.creditScore| number:'1.0-0'}} </dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Score Credit </dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{requestDate}} </dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Date De Remettre L'argent Au Client </dd>
            </div>

            <div *ngIf="client.references" class="flex flex-col items-center justify-center">
                <div *ngFor="let r of client.references">
                  
                    <dd class="text-gray-500 text-center dark:text-gray-400">{{r}}</dd>
                </div>
                <dd class="text-gray-500 text-center dark:text-gray-400 font-bold">References</dd>

            </div>
         
          
        
        </dl>
    </div>
    <div *ngIf="this.auth.isAdmin || this.auth.isDistributor" class="container mx-auto p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
          
          <!-- Montant Emprunter -->
          <div *ngIf="this.auth.isAdmin" class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-4">
            <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Epargnes</h2>
            <p class="text-sm text-gray-600 dark:text-gray-300 mb-2">Valeur actuelle: <strong>{{ savings}}</strong></p>
            <input [(ngModel)]="savings" type="number" placeholder="Entrez l'epargne'" 
              class="w-full p-2.5 border rounded-lg bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white">
            <button (click)="setClientField('savings',savings)" 
              class="w-full mt-2 py-2.5 bg-red-700 hover:bg-red-800 text-white rounded-lg text-sm">
              Confirmer
            </button>
         </div>
         <!-- Montant Emprunter -->
         <div *ngIf="this.auth.isAdmin || !agentSubmmitted" class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-4">
            <h2 class="text-lg font-semibold text-gray-900 dark:text-white mb-2">Nom de L'Audit Qui a verfie le Client</h2>
            <p class="text-sm text-gray-600 dark:text-gray-300 mb-2">Nom: <strong>{{ agentVerifyingName}}</strong></p>
            <input [(ngModel)]="agentVerifyingName" type="text" placeholder="Entrez Votre Nom" 
              class="w-full p-2.5 border rounded-lg bg-gray-50 dark:bg-gray-700 text-gray-900 dark:text-white">
            <button (click)="setClientFieldAgent('agentVerifyingName',agentVerifyingName)" 
              class="w-full mt-2 py-2.5 bg-red-700 hover:bg-red-800 text-white rounded-lg text-sm">
              Confirmer
            </button>
         </div>
        </div>
    </div>
    <div class="flex container flex-col md:flex-row mx-auto justify-center ">
        <a *ngIf="this.auth.isAdmin || this.auth.isDistributor" type="submit" class="text-white bg-green-700 hover:bg-green-800  ml-4 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4"  [routerLink]="['/request-update',id ]">Demande de Mise à Jour</a>
    <button *ngIf="client.type==='register'"  type="submit" class="text-white bg-red-700 hover:bg-red-800  ml-4 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center mt-4" (click)="cancelRegistration()">Annuler Enregistrement</button>
   
</div>

<div class=" container  flex mx-auto shadow-xl  flex-col md:justify-center md:flex-row  ">

    <div class="flex flex-col ">
     
        <div *ngIf="client.debtCycle!=='1'" class="w-full max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto mt-0 mb-2">
            <plotly-plot [data]="graphCredit.data" [layout]="graphCredit.layout"></plotly-plot>
          </div>
        
    </div>
    <div *ngIf="client.debtCycle==='1'" class="flex flex-col ">
     
        <div class="w-full max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto mt-0 mb-2">
            <plotly-plot [data]="graphWorthiness.data" [layout]="graphWorthiness.layout"></plotly-plot>
          </div>
        
    </div>


</div>

