<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [path]="'home'"></app-navbar>

<div class="flex container mx-auto justify-center m-12">
    <h1 class=" md:block text-2xl text-center md:text-4xl mr-10 ">Profile Du Client Enregistrer</h1>
    <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " [routerLink]="['/transform-register-client',id ]">Transformer en Client Complet</button>
    <!-- <button type="submit" class="text-white bg-red-700 hover:bg-red-800  ml-4 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " (click)="delete()">Supprimer Client</button> -->
</div>

<div id="fullWidthTabContent" class=" rounded-lg  dark:border-gray-600">
    <div class=" mx-4 lg:mx-60 p-4 bg-white rounded-lg md:p-8 border-2 shadow-lg border-gray-200 dark:bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
        <dl class="grid  max-w-screen-xl grid-cols-2 text-gray-900 gap-8 p-4 mx-auto sm:grid-cols-3 xl:grid-cols-3 dark:text-white sm:p-8">
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold text-center"> {{client.firstName}} {{client.lastName}} {{client.middleName}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Membre Depuis {{client.dateJoined?.replaceAll('-','/')}}</dd>
            </div>
           
            <div class="flex flex-col items-center justify-center" [routerLink]="['/update-client-info',id ]">
                <dt class="mb-2 text-xl md:text-2xl font-extrabold text-center"> ({{client.phoneNumber| slice:0:3}}) - {{client.phoneNumber| slice:3:6}} - {{client.phoneNumber| slice:6:10}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Numero Telphone</dd>
            </div>
            <div class="flex flex-col items-center justify-center" [routerLink]="['/update-client-info',id ]">
                <dt class="mb-2 text-xl md:text-2xl font-extrabold text-center">{{client.businessAddress}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Adress Business</dd>
            </div>
            

           
           
           
            

           
            <div class="flex flex-col items-center justify-center" [routerLink]="['/update-client-info',id ]">
                <dt class="mb-2 text-xl text-center md:text-2xl font-extrabold">{{client.homeAddress}}</dt>
                <dd class="text-gray-500 text-center  dark:text-gray-400">Adress Domicile</dd>
            </div>
            <div class="flex flex-col items-center justify-center" [routerLink]="['/update-client-info',id ]">
                <dt class="mb-2 text-xl md:text-2xl text-center font-extrabold">{{client.profession}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Profession</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.savings | number:'1.0-0'}}</dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Epargnes (FC)</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.applicationFee| number:'1.0-0'}} </dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Frais De Dossier Payé </dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-xl md:text-3xl font-extrabold">{{client.membershipFee | number:'1.0-0'}} </dt>
                <dd class="text-gray-500 text-center dark:text-gray-400">Frais De D'ahesion Payé </dd>
            </div>
            
         
          
        
        </dl>
    </div>
    <div class="flex container flex-col md:flex-row mx-auto justify-center">
   
</div>

