
<!-- Navbar -->
<nav class="relative   bg-green-700">
    <div class="container flex mx-auto items-center justify-between">
   
      <div class="flex flex-row items-center space-x-10">
        <img src="../assets/img/kank-updated.png" alt="" class="flex max-w-[10rem] p-2" routerLink="/{{path}}">
      <div  *ngIf="email!==''" class="flex flex-row items-center space-x-10" >
            <div class="hidden md:block  flex-col justify-center" routerLink="/home">
              <img src="../../../assets/img/white-house.png" class="w-10 h-10  hover:w-11 hover:h-11" alt="">
              <h1 *ngIf="currentHome" class=" {{current}}"></h1>

            </div>
            <div routerLink="/client-info" class="hidden md:block">
              <img src="../../../assets/img/file.png" class="w-10 hover:w-12 hover:h-12 h-10" alt="">
              <h1 *ngIf="currentClientInfo" class=" {{current}}"></h1>
            </div>
            <div routerLink="/new-client" class="hidden md:block">
              <img src="../../../assets/img/new-client.png" class="w-10 hover:w-12 hover:h-12 h-10" alt="">
              <h1 *ngIf="currentNewClient" class=" {{current}}"></h1>
            </div>
            <div routerLink="/team-page" class="hidden md:block">
              <img src="../../../assets/img/staff.png" class="w-14  hover:w-16 hover:h-16 h-14" alt="">
              <h1 *ngIf="currentEmployeePage" class=" {{current}}"></h1>
            </div>
          </div>
        
      </div>
      <div *ngIf="email!==''" class=" mr-4 relative inline-block text-left">
        <div>
          <button type="button" class="inline-flex  w-full justify-center gap-x-1.5 rounded-full bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" (click)="toggleMenu()">
            Bievenue {{firstName}}
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>

        <div *ngIf="hide ==false" class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu"  >
          <div class="py-1" >
            <a routerLink="/home"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Depart</a>
            <a routerLink="/client-info"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Info Client</a>
            <a routerLink="/new-client"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Nouveau Client</a>
            <a routerLink="/team-page"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Employées</a>
            <a routerLink="/tracking"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Trésorerie</a>
            <a routerLink="/today"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Activités Du Jour</a>
            <a routerLink="/tracking-month"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Activités Du Mois</a>
            <a routerLink="/retrace"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Retracer Les Activités </a>
            <a routerLink="/benefit"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-0">Bénéfice & Performance</a>

            
            <a (click)="logOut()"  class="text-gray-700 block px-4 py-2 text-sm hover:bg-slate-100" role="menuitem" tabindex="-1" id="menu-item-1">
              Se Déconnecter</a>
       
          </div>


        </div>
      </div>


 
  </div>
  </nav>
  
