

<app-navbar
  [email]="this.auth.currentUser.email"
  [firstName]="this.auth.currentUser.firstName"
  [path]="'home'"
  [currentEmployeePage]="true"
></app-navbar>

<section class="bg-gray-50 py-8 ">
  <div class="px-4 mx-auto max-w-screen-xl lg:px-6 r">
    <!-- Header -->
    <div class="text-center mb-8">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">Notre Équipe</h2>
      <button
        *ngIf="auth.isAdmin"
        type="button"
        class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5"
        (click)="toggleAddNewEmployee()"
      >
        + Nouveau Employé(e)
      </button>
    </div>

    <!-- Update Button -->
    <div class="text-center mb-6">
      <button
        *ngIf="auth.isAdmin"
        type="button"
        class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5"
        (click)="updatePerformance()"
      >
        Mettre à Jour La Performance
      </button>
    </div>

    <!-- Employee Cards Grid -->
    <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 ">
      <div
        *ngFor="let em of employees; let i = index"
        class="bg-white shadow rounded-lg overflow-hidden text-center"
      >
        <!-- Profile Image -->
        <div class="flex justify-center p-4 bg-gray-100">
          <img
            *ngIf="!em.profilePicture"
            src="../../../assets/img/user.png"
            alt="{{ em.firstName }}"
            class="w-24 h-24 rounded-full object-cover"
          />
          <img
            *ngIf="em.profilePicture"
            [src]="em.profilePicture.downloadURL"
            alt="{{ em.firstName }}"
            class="w-24 h-24 rounded-full object-cover"
          />
        </div>

        <!-- Employee Details -->
        <div class="p-6">
          <h3 class="text-lg font-semibold text-gray-800">
            {{ em.firstName }} {{ em.middleName }} {{ em.lastName }}
          </h3>
          <p class="text-sm text-gray-500">Role: {{ em.role }}</p>
          <p class="text-sm text-gray-500">Status: {{ em.status }}</p>
          <p class="text-sm text-gray-500">
            # Clients Suivi: {{ em.currentClients?.length }}
          </p>
          <p class="text-sm text-gray-500">Sex: {{ em.sex }}</p>
          <p class="text-sm text-gray-500">
            Début de Travail: {{ em.dateJoined }}
          </p>
          <p class="text-sm text-gray-500">Téléphone: {{ em.phoneNumber }}</p>

          <!-- Actions -->
          <div class="mt-4 flex justify-center space-x-2">
            <button
              *ngIf="auth.isAdmin"
              type="button"
              (click)="toggleEditEmployee(i)"
              class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5"
            >
              Modifier
            </button>
            <button
              type="button"
              [routerLink]="['/employee-page', em.trackingId]"
              class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5"
            >
              Détails
            </button>
          </div>

          <!-- CV Link -->
          <a
            *ngIf="auth.isAdmin && em.profilePicture?.CVDownloadURL"
            [href]="em.profilePicture!.CVDownloadURL"
            target="_blank"
            class="block mt-4 text-sm text-green-600 underline"
          >
            Télécharger CV
          </a>
        </div>
      </div>
    </div>

    <!-- Reset Button -->
    <div class="text-center mt-8">
      <button
        *ngIf="auth.isAdmninistrator"
        type="button"
        (click)="resetClientsAndEmployees()"
        class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5"
      >
        Réinitialiser Les Employés et Clients
      </button>
    </div>
  </div>
</section>


  <!-- Main modal -->
<div *ngIf="displayAddNewEmployee" id="defaultModal" tabindex="-1" class="w-full max-w-md max-h-full  fixed inset-x-0 mx-auto top-0 z-50 p-4 flex pb-6">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Nouveau Employé(e)
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal" (click)="toggleAddNewEmployee()">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div>
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    <div>
                        <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
                        <input type="text" name="lastName" id="lastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nkokori" required=""[(ngModel)]="lastName">
                    </div>
                    <div>
                        <label for="middleName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Postnom</label>
                        <input type="text" name="middleName" id="middlename" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" [(ngModel)]="middleName" placeholder="Mbadu" required="">
                    </div>
                    <div>
                        <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prenom</label>
                        <input type="text" name="firstName" id="firstname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" [(ngModel)]="firstName" placeholder="Rebecca" required="">
                    </div>
                    <div>
                        <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Number de Telephone</label>
                        <input type="text" name="phoneNumber" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" [(ngModel)]="phoneNumber" placeholder="123456789" required="">
                    </div>
                    <div>
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                        <select [(ngModel)]="role" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected=""></option>
                            <option [ngValue]="'Manager'" >Manager</option>
                            <option [ngValue]="'Agent'" >Agent</option>
                            <option [ngValue]="'Gestionnaire'" >Gestionnaire</option>
                            <option [ngValue]="'Gestionnaire Regionale'" >Gestionnaire Regionale</option>
                           
                        </select>
                    </div>
                    <div >
                        <label for="dateOfBirth" class="block mb-2 text-sm font-medium text-gray-900 ">Date de Naissance</label>
                        <input  [(ngModel)]="dateOfBirth"  type="date" id="dateOfBirth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " placeholder="11-18-2023" required>
                        <!-- <h1 *ngIf="!validEndDate" class="text-red-500">Date Invalid</h1> -->
                    </div>
                    <div>
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sex</label>
                        <select [(ngModel)]="sex" id="sex" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected=""></option>
                            <option [ngValue]="'Masculin'">Masculin</option>
                            <option [ngValue]="'Feminin'">Feminin</option>
                           
                        </select>
                    </div>
                    <div>
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Statue aux Travaille</label>
                        <select [(ngModel)]="status" id="sex" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected=""></option>
                            <option [ngValue]="'Travaille'">Travaille</option>
                            <option [ngValue]="'Quitté'">Quitté</option>
                            <option [ngValue]="'Malade'">Malade</option>
                            <option [ngValue]="'Absent'">Absent</option>
                            <option [ngValue]="'Vacance'">Vacance</option>
                            <option [ngValue]="'Empeché'">Empeché</option>



                           
                        </select>
                    </div>
                    <div >
                        <label for="dateJoined" class="block mb-2 text-sm font-medium text-gray-900 ">Date de Debut aux Travaille</label>
                        <input  [(ngModel)]="dateJoined"  type="date" id="dateOfBirth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " placeholder="11-18-2023" required>
                        <!-- <h1 *ngIf="!validEndDate" class="text-red-500">Date Invalid</h1> -->
                    </div>
                   
                    
                   
                </div>
                <div class="flex flex-row mx-auto justify-center space-x-4">
                    <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " (click)="toggleAddNewEmployee()">Annuler</button>
                    <button type="submit" (click)="addNewEmployee()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " >Ajouter</button>
                
                </div>
              
            </div>
        </div>
    </div>
</div>

