<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [path]="'home'"></app-navbar>
<div class="flex container mx-auto m-12 justify-center">
    <h1 class="text-xl md:text-3xl mr-4">Payment By {{client.firstName}} {{client.lastName}}</h1>
</div>

<div class="flex container justify-center mx-auto">

<div class=" border-2 border-green-800 rounded-lg p-12">
  
    


<div class="mb-6">
    <label for="savings" class="block mb-2 text-sm font-medium text-gray-900">Personal Savings</label>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " [(ngModel)]="savingsAmount" (change)="displaySavingsOtherAmount()"selected>
        <option [ngValue]="0">FC 0</option>
        <option [ngValue]="5000">FC 5000</option>
    <option [ngValue]="10000">FC 10,000</option>
    <option [ngValue]="20000">FC 20,000</option>
    <option [ngValue]="30000">FC 30,000</option>
    <option [ngValue]="" > Other Amount</option>
    </select>
</div>
<div *ngIf="savingsOtherAmount" class="mb-6">
    <label for="savingsOther" class="block mb-2 text-sm font-medium text-gray-900 "> Savings Other Amount</label>
    <input [(ngModel)]="savingsAmount" type="text" id="savings" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="FC20,000" required>
</div> 



<div class="mb-6">
    <label for="payment" class="block mb-2 text-sm font-medium text-red-700">Payment Amount</label>
    <select id="payment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  " [(ngModel)]="paymentAmount"(change)="displayPaymentOtherAmount()"selected>
    <option [ngValue]="17500">FC 17,500</option>
    <option [ngValue]="35000">FC 35,000</option>
    <option [ngValue]="70000">FC 70,000</option>
    <option [ngValue]="">Other Amount </option>
    </select>
</div>
<div *ngIf="paymentOtherAmount" class="mb-6">
    <label for="savings" class="block mb-2 text-sm font-medium text-gray-900 "> Payment Other Amount</label>
    <input type="text" [(ngModel)]="paymentAmount"id="savings" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="FC20,000" required>
</div> 


   

<button type="submit" class="mr-10 text-white bg-green-700 hover:bg-green-800 font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center " [routerLink]="['/client-portal',id ]">Annuler</button>
    <button  (click)="makePayment()" class=" text-white bg-green-700 hover:bg-green-800  font-medium rounded-full text-sm w-auto sm:w-auto px-5 py-2.5 text-center ">Soumettre</button>
   
</div>


</div>


