<app-navbar></app-navbar>

<div class="flex container mx-auto justify-center m-12">
    <h1 class="text-2xl md:text-4xl mr-10 font-bold">Client Portal</h1>
</div>
<!-- <div class="flex container mx-auto justify-center">
    <div class="flex   p-6 bg-red-600 border  rounded-xl shadow hover:bg-red-700"  >
        <h1 class="m-2 md:m-6 text-xl md:text-2xl flex font-bold  text-white justify-start">Masevo Konde</h1>
    
        <h1 class="m-2 md:m-6 text-xl md:text-2xl font-bold flex text-white justify-center">330</h1>
        <h1 class="m-2 md:m-6 text-xl md:text-2xl font-bold flex text-white justify-center">$ 81.22</h1>
    </div>
</div> -->
<div id="fullWidthTabContent" class="border-gray-600">
    <div class=" mx-4 lg:mx-60 p-4 rounded-lg md:p-8 bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
        <dl class="grid  max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto sm:grid-cols-3 xl:grid-cols-3 text-white sm:p-8">
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">Masevo Konde</dt>
                <dd class="text-gray-400">Member Since 11/09/2023</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">330</dt>
                <dd class="text-gray-400">Credit Score</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">200,000</dt>
                <dd class="text-gray-400">Borrowed (FC)</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">15,000</dt>
                <dd class="text-gray-400">Minimum Payment (FC)</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">Aug 10</dt>
                <dd class="text-gray-400">Next Payment Due </dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold"> 60,000</dt>
                <dd class="text-gray-400">Paid (FC)</dd>
            </div>
            <div class="flex flex-col items-center justify-center">
                <dt class="mb-2 text-3xl font-extrabold">60,000</dt>
                <dd class="text-gray-400">Remaining (FC)</dd>
            </div>
            <button type="submit" class="  text-white bg-gray-700 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-3/4 px-5 py-2.5 text-center " routerLink="/payment">Make a Payment</button>

            
            <button type="submit" class="text-white bg-gray-700 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm w-3/4 px-5 py-2.5 text-center "routerLink="/payment-activity">Payment Activity</button>

        </dl>
    </div>
