<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [path]="'home'" ></app-navbar>

<!-- investements -->

    <div class="flex container mx-auto m-6 justify-center">
        <h1 class="text-2xl md:text-4xl mr-10 ml-4">Gestion Du Jour {{frenchDate}}</h1>
       
    </div>
    <div class="flex container mx-auto justify-center mb-2">    
        <div class="">
        <!-- <label for="start_date" class="block mb-2 text-sm font-medium text-gray-900 "> Entrer La Date</label> -->
        <input [(ngModel)]="requestDate"   type="date" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  mb-2" (change)="findDailyActivitiesAmount()"  required>
        <!-- <button type="submit" class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-full text-sm w-auto sm:w-auto  px-2 py-2 md:px-5 md:py-2.5 text-center m-2 " (click)="findDailyActivitiesAmount()">Chercher</button> -->
        </div>
       
    </div>


<div class="container  flex flex-wrap items-center justify-center  mx-auto md:flex-row">

    <div class="flex-col w-60  m-6 " *ngFor="let s of summary; let i = index;  ">
        <a routerLink="{{linkPaths[i]}}" class="block max-w-sm  p-6 bg-neutral-200 border border-gray-200 rounded-lg  shadow hover:bg-green-100">
            <img src="{{imagePaths[i]}}" alt="" class="w-20  justify-center mx-auto ">
           
            <h5 class="my-2 text-2xl text-center font-bold  tracking-tight text-gray-900">{{s}}</h5>
            <div *ngIf="i==0">
                <h2 *ngIf="lossRatio<=2" class="font-bold text-lg text-green-700 text-center" >  {{summaryContent[i]}} %</h2>
                <h2 *ngIf="lossRatio>2" class="font-bold text-lg text-red-700 text-center" >  {{summaryContent[i]}} %</h2>
            </div>
           
            <h2 *ngIf="i!=0" class="font-bold text-lg text-green-700 text-center" > FC {{summaryContent[i] | number:'1.0-0'}} </h2>
            <h2 *ngIf="i!=0"class="font-bold text-lg text-yellow-900 text-center" > $ {{valuesConvertedToDollars[i] | number:'1.0-0'}}</h2>
         
        </a>
    </div>
    


</div>

<div class=" container lg:block  flex mx-auto shadow-xl  flex-col md:justify-center md:flex-row  ">

    <div class="flex flex-col ">
        <h1 class="text-3xl m-12 md:text-4xl text-center">Reserve Total Par Jour</h1>
        <div class="inline-flex rounded-md shadow-sm mx-auto" role="group">
            <button (click)="updateReserveGraphics(compute.week)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Semaine
            </button>
            <button (click)="updateReserveGraphics(compute.month)" type="button" class=" px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Mois
            </button>
            <button (click)="updateReserveGraphics(maxRange)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Max
            </button>
          </div>
       =
        <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>

    </div>
    <div class="flex flex-col ">
        <h1 class="text-3xl m-12 md:text-4xl text-center">Argent A Servir Par Jour</h1>
        <div class="inline-flex rounded-md shadow-sm mx-auto" role="group">
            <button (click)="updateServeGraphics(5)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Semaine
            </button>
            <button (click)="updateServeGraphics(20)" type="button" class=" px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Mois
            </button>
            <button (click)="updateServeGraphics(maxRange)" type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Max
            </button>
          </div>
        <plotly-plot [data]="graphServe.data" [layout]="graphServe.layout"></plotly-plot>

    </div>

    
</div>