
<app-navbar [email]="this.auth.currentUser.email"[firstName]="this.auth.currentUser.firstName" [path]="'home'"></app-navbar>

<div class="flex container mx-auto m-4 justify-center ">
    <h1 class="text-3xl md:text-4xl mr-10">Apercu & Tutoriels</h1>
    
   
</div>
<div class="container  justify-center mx-auto   md:flex-row ">

<figure class="max-w-screen-md mx-auto text-center">
    <svg class="w-10 h-10 mx-auto mb-3 text-gray-400 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
        <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
    </svg>
    <blockquote>
        <p class="text-xl md:text-2xl italic font-medium text-gray-900  mx-4">"Notre Mission
           est d' aider les petits vendeurs locaux à obtenir des crédits pour gérer leur entreprise afin d'augmenter leur production et de développer leur activité.
            "</p>
    </blockquote>
    <figcaption class="flex items-center justify-center mt-6 space-x-3 rtl:space-x-reverse">
        <!-- <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/michael-gouch.png" alt="profile picture"> -->
        <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-500 dark:divide-gray-700">
            <cite class="pe-3 font-medium text-gray-900 ">Georgine Kuta</cite>
            <cite class="ps-3 text-sm text-gray-500 dark:text-gray-400">Fondatrice - Fondation Gervais </cite>
        </div>
    </figcaption>
</figure>

    <!-- <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 mx-4"> Notre Mission:  Aider les petits vendeurs locaux à obtenir des crédits pour gérer leur entreprise afin d'augmenter leur production et de développer leur activité.
    </p>
    <p class="text-gray-500 dark:text-gray-400 mx-4">Track work across the enterprise through an open, collaborative platform. Link issues across Jira and ingest data from other software development tools, so your IT support and operations teams have richer contextual information to rapidly respond to requests, incidents, and changes.</p> -->
    <div class="my-6"></div>

    <div  id="accordion-nested-parent" data-accordion="collapse">
        <h2 id="accordion-collapse-heading-1">
          <button (click)="toggle('system')" type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
            <span>Comment Utiliser Le Système?</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div *ngIf="system" id="accordion-collapse-body-1"  aria-labelledby="accordion-collapse-heading-1">
          <div class="p-5  border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
            <p class="mb-2 text-gray-500 dark:text-gray-400">Voici des vidéos expliquant comment utiliser le système. Ceci est un résumé. Pour plus d'informations et questions pertinentes, envoyez-moi un message ou appelez-moi sur <a class="text-blue-500 underline" href="https://wa.me/12156877614" target="_blank"> WhatsApp (+12156877614)</a>.
            </p>
           
            <!-- Nested accordion -->
            <div id="accordion-nested-collapse" data-accordion="collapse">
              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('intro')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Introduction</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="intro" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Fintro-system.mp4?alt=media&token=bc0efcbb-affb-43d4-ae48-da01559b9228" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>
              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('register')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Enregister Client & Client Complet</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="register" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Fenregister-client.mp4?alt=media&token=5a0ad323-fa97-4fdf-8fe0-900836b7ff10" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>
              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('clientPayment')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Client Paiement</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="clientPayment" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Fpayment-client.mp4?alt=media&token=f147a8bd-a90d-4d39-8eca-9ea66f55bb13" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>

              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('card')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Carte</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="card" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Fcarte.MP4?alt=media&token=32f7d0c6-5dc5-4f67-9d07-844cc7a6ef80" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>

              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('cardReturn')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Retrait Carte & Nouveau Cycle</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="cardReturn" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Fcarte-retrait-nouveau-cycle.mp4?alt=media&token=95f81fcc-8b8e-41c2-af80-c00241f64bc0" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>

              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('moneyInHands')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Argent en Main</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="moneyInHands" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Fargent-en-main.mp4?alt=media&token=2aa45289-0b6e-44c9-a9f7-ac0ca4f2e3df" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>

              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('dailyActivity')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Activité Du Jour</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="dailyActivity" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Factivite-du-jour.mp4?alt=media&token=3f438f02-224c-4b3a-9728-3977457bd0fb" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>

              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('moneyRequested')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Argent Demander</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="moneyRequested" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Fargent-demander.mp4?alt=media&token=d00843a2-09db-43b2-8931-c3f968a2aafa" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>

              <h2 id="accordion-nested-collapse-heading-1">
                <button (click)="toggle('reserveSummary')" type="button" class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-nested-collapse-body-1" aria-expanded="false" aria-controls="accordion-nested-collapse-body-1">
                  <span>Reserve Et Resume</span>
                 <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div *ngIf="reserveSummary" id="accordion-nested-collapse-body-1" aria-labelledby="accordion-nested-collapse-heading-1">
                <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
                  <video class="w-auto lg:w-96" autoplay controls>
                    <source src="https://firebasestorage.googleapis.com/v0/b/kank-4bbbc.appspot.com/o/videos%2Freserve-et-resume.mp4?alt=media&token=f02cc445-f508-4e36-876f-8c0901d839b7" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                  <!-- <p class="text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product.</p> -->
                </div>
              </div>
      
            </div>
            <!-- End: Nested accordion -->
          </div>
        </div>
        <h2 id="accordion-collapse-heading-2">
          <button (click)="toggle('payment')" type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
            <span>Paiement et Bonus</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div *ngIf="payment" id="accordion-collapse-body-2"  aria-labelledby="accordion-collapse-heading-2">
          <div class="p-5 border border-gray-200 dark:border-gray-700">
            <p class="text-lg  font-light text-center mx-4 mb-4 ">
              Les paiements de salaire seront effectués le <span class="text-red-500"> 1er </span> de chaque mois. Si le 1er tombe un samedi ou un dimanche, les agents seront payés la veille.
              Les paiements de bonus seront effectués le <span class="text-red-500"> 15 </span> de chaque mois. Si le 15 tombe un samedi ou un dimanche, les agents seront payés la veille.
          </p>
          <!-- <section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
            <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
              <div class="mx-auto max-w-5xl">
                <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">Calculer Le Bonus (s'appliquent uniquement si vous avez 50+%)</h2>
          
                <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12">
                  <div action="#" class="w-full rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 lg:max-w-xl lg:p-8">
                    <div class="mb-6 grid grid-cols-2 gap-4">
                      <div class="col-span-2 sm:col-span-1">
                        <label for="full_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Nombre De Clients Actuels </label>
                        <input [(ngModel)]="numberOfPeople"  type="text" id="full_name" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="100" required />
                      </div>
          
                      <div class="col-span-2 sm:col-span-1">
                        <label for="full_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Pourcentage (%)</label>
                        <input [(ngModel)]="percentage" type="text" id="full_name" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" placeholder="70" required />
                      </div>
                      <div>
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                        <select [(ngModel)]="agentRole" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected=""></option>
                            <option [ngValue]="'Manager'" >Manager</option>
                            <option [ngValue]="'Agent Marketing'" >Agent Marketing</option>
                           
                        </select>
                    </div>
          
                     
                      
                    </div>
          
                    <button (click)="computeBonus()" type="submit" class="flex w-full items-center bg-green-500 justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4  focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Calculer</button>
                  </div>
          
                  <div class="mt-6 grow sm:mt-8 lg:mt-0">
                    <div class="space-y-4 rounded-lg border border-gray-100 bg-gray-50 p-6 dark:border-gray-700 dark:bg-gray-800">
                      <div class="space-y-2">
                        <dl class="flex items-center justify-between gap-4">
                          <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Base</dt>
                          <dd class="text-base font-medium text-gray-900 dark:text-white">${{base}}</dd>
                        </dl>
          
                        <dl class="flex items-center justify-between gap-4">
                          <dt class="text-base font-bold  text-gray-500 dark:text-gray-400">Bonus</dt>
                          <dd class="text-base font-bold text-green-500">${{bonus}}</dd>
                        </dl>
          
                       
                      </div>
                    </div>
          
                   
                  </div>
                </div>
          
               
              </div>
            </div>
          </section> -->
          
          <div *ngIf="this.auth.isAdmninistrator || this.auth.isDistributor" id="accordion-collapse-body-2" aria-labelledby="accordion-collapse-heading-2">
            <div class="max-w-xl mx-auto bg-white rounded-lg shadow-md overflow-hidden my-2">
                <div class="p-4">
                    <h1 class="text-lg font-semibold text-gray-700 mb-4 underline">Montant de Paiement et Bonus $15K+ Manager (Audit)</h1>
                    <div class="overflow-x-auto">
                        <table class="min-w-full bg-white border border-gray-200 text-gray-700">
                            <thead>
                                <tr class="bg-gray-100 border-b">
                                    <th class="px-4 py-2 text-left">Role</th>
                                    <th class="px-4 py-2 text-left">Base</th>
                                    <th class="px-4 py-2 text-left">Bonus 1.6-2%</th>
                                    <th class="px-4 py-2 text-left">Bonus 1.1-1.5%</th>
                                    <th class="px-4 py-2 text-left">Bonus 0.6-1%</th>
                                    <th class="px-4 py-2 text-left">Bonus 0-0.5%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">Manager Gestion</td>
                                    <td class="px-4 py-2">140$</td>
                                    <td class="px-4 py-2">15$</td>
                                    <td class="px-4 py-2">30$</td>
                                    <td class="px-4 py-2">40$</td>
                                    <td class="px-4 py-2">50$</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">Auditrice</td>
                                    <td class="px-4 py-2">100$</td>
                                    <td class="px-4 py-2">10$</td>
                                    <td class="px-4 py-2">15$</td>
                                    <td class="px-4 py-2">20$</td>
                                    <td class="px-4 py-2">30$</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="this.auth.isAdmninistrator || this.auth.isDistributor" id="accordion-collapse-body-2" aria-labelledby="accordion-collapse-heading-2">
          <div class="max-w-xl mx-auto bg-white rounded-lg shadow-md overflow-hidden my-2">
            <div class="p-4">
                <!-- <h1 class="text-lg font-semibold text-gray-700 mb-4">Pourcentage du Manager et Budget</h1> -->
                <div class="overflow-x-auto">
                    <table class="min-w-full bg-white border border-gray-200 text-gray-700">
                        <thead>
                            <tr class="bg-gray-100 border-b">
                                <th class="px-4 py-2 text-left">Pourcentage</th>
                                <th class="px-4 py-2 text-left">Bonus Audit $</th>
                          
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b hover:bg-gray-50">
                                <td class="px-4 py-2">100%</td>
                                <td class="px-4 py-2">100$</td>
                            </tr>
                            <tr class="border-b hover:bg-gray-50">
                                <td class="px-4 py-2">90-99%$</td>
                                <td class="px-4 py-2">80$</td>
                            </tr>
                            <tr class="border-b hover:bg-gray-50">
                                <td class="px-4 py-2">80-89%</td>
                                <td class="px-4 py-2">60$</td>
                            </tr>
                            <tr class="border-b hover:bg-gray-50">
                                <td class="px-4 py-2">70-79%</td>
                                <td class="px-4 py-2">40$</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>

        
            
        <div *ngFor="let group of compute.salaries" id="accordion-collapse-body-2" aria-labelledby="accordion-collapse-heading-2">
          <div class="max-w-xl mx-auto bg-white rounded-lg shadow-md overflow-hidden my-2">
              <div class="p-4">
                  <h1 class="text-lg font-semibold text-gray-700 mb-4 underline">Montant de Paiement et Bonus ({{ group[0].people }}+ clients)</h1>
                  <div class="overflow-x-auto">
                      <table class="min-w-full bg-white border border-gray-200 text-gray-700">
                          <thead>
                              <tr class="bg-gray-100 border-b">
                                  <th class="px-4 py-2 text-left">Role</th>
                                  <th class="px-4 py-2 text-left">Base</th>
                                  <th class="px-4 py-2 text-left">Bonus 70-79%</th>
                                  <th class="px-4 py-2 text-left">Bonus 80-89%</th>
                                  <th class="px-4 py-2 text-left">Bonus 90-99%</th>
                                  <th class="px-4 py-2 text-left">Bonus 100%</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let role of group.slice(1)" class="border-b hover:bg-gray-50">
                                  <td class="px-4 py-2">{{role.role}}</td>
                                  <td class="px-4 py-2">{{role.base}}</td>
                                  <td class="px-4 py-2">{{role.a}}</td>
                                  <td class="px-4 py-2">{{role.b}}</td>
                                  <td class="px-4 py-2">{{role.c}}</td>
                                  <td class="px-4 py-2">{{role.d}}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      
      
          </div>
        </div>

        <h2 id="accordion-collapse-heading-2">
            <button (click)="toggle('best')" type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
              <span>Critères pour être la meilleure Equipe, Employé, Manager,et Client(e)</span>
              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
              </svg>
            </button>
          </h2>
          <div class="mx-4 my-4" *ngIf="best" id="accordion-collapse-body-2" aria-labelledby="accordion-collapse-heading-2">
          
                  <h2 class="mb-2 text-lg font-semibold text-gray-900 ">Critères pour être la meilleur employé  :</h2>
                  <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
                      <li class="flex items-center">
                          <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                          </svg>
                          Pourcentage le plus élevé ( plus de 50% minimum avec equipe de 40+ personnes)
                      </li>
                      
                     
                  </ul>
                  <h2 class="my-2 text-lg font-semibold text-gray-900 ">Critères pour être le meilleur Manager :</h2>
                  <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
                      <li class="flex items-center">
                          <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                          </svg>
                          Pourcentage le plus élevé de Manager ( plus de 50% minimum)
                      </li>
                      <li class="flex items-center">
                          <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                          </svg>
                          Nombre de personnes nouvellement inscrites du 1er au 30 (ex : de 60 à 89, soit 29 personnes).
                      </li>
                      <li class="flex items-center">
                        <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        Votre équipe est  la meilleure  du mois.

                    </li>
                     
                    <p>Le manager qui remplit 2 des 3 critères gagne.

                    </p>
                  </ul>
                  <h2 class="my-2 text-lg font-semibold text-gray-900 ">Critères pour être la meilleure Equipe :</h2>
                  <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
                      <li class="flex items-center">
                          <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                          </svg>
                          Avoir une réserve avec le plus d’argent.
                      </li>
                      
                     
                  </ul>
                  <h2 class="my-2 text-lg font-semibold text-gray-900 ">Critères pour être la meilleur(e) client(e) :</h2>
                  <p>Pour être considéré comme un client modèle et recevoir des récompenses, vous devez atteindre certains seuils de score de crédit :</p>
                  <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
                      <li class="flex items-center">
                          <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                          </svg>
                          À 70+ points, Client Argent. Vous avez access au credit sans restriction.
                      </li>
                      
                      <li class="flex items-center">
                        <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                        À 90 points, Vous recevez 5% de l'argent que vouz avez empruntez directement dans votre epargnes.
                    </li>
                    <li class="flex items-center">
                      <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                      </svg>
                      À 100 points. Vous participez a chaque fin de l'anee a un tombola ou vous pouvez gagner beaucoup des prix ( congelateur, 500$, etc).
                  </li>
                     
                  </ul>

                  

          </div>
     
          <h2 id="accordion-collapse-heading-2">
            <button (click)="toggle('budget')" type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
              <span>Budget Du Mois</span>
              <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
              </svg>
            </button>
          </h2>

          <div *ngIf="budget" id="accordion-collapse-body-2" aria-labelledby="accordion-collapse-heading-2">
            <div class="max-w-xl mx-auto bg-white rounded-lg shadow-md overflow-hidden my-2">
              <div class="p-4">
                  <!-- <h1 class="text-lg font-semibold text-gray-700 mb-4">Pourcentage du Manager et Budget</h1> -->
                  <div class="overflow-x-auto">
                      <table class="min-w-full bg-white border border-gray-200 text-gray-700">
                          <thead>
                              <tr class="bg-gray-100 border-b">
                                  <th class="px-4 py-2 text-left">Pourcentage du Manager</th>
                                  <th class="px-4 py-2 text-left">Budget en FC</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="border-b hover:bg-gray-50">
                                  <td class="px-4 py-2">100%</td>
                                  <td class="px-4 py-2">20M</td>
                              </tr>
                              <tr class="border-b hover:bg-gray-50">
                                  <td class="px-4 py-2">90-99%</td>
                                  <td class="px-4 py-2">18M</td>
                              </tr>
                              <tr class="border-b hover:bg-gray-50">
                                  <td class="px-4 py-2">80-89%</td>
                                  <td class="px-4 py-2">15M</td>
                              </tr>
                              <tr class="border-b hover:bg-gray-50">
                                  <td class="px-4 py-2">70-79%</td>
                                  <td class="px-4 py-2">12M</td>
                              </tr>
                              <tr class="border-b hover:bg-gray-50">
                                  <td class="px-4 py-2">60-69%</td>
                                  <td class="px-4 py-2">9M</td>
                              </tr>
                              <tr class="border-b hover:bg-gray-50">
                                  <td class="px-4 py-2">50-59%</td>
                                  <td class="px-4 py-2">6M</td>
                              </tr>
                              <tr class="hover:bg-gray-50">
                                  <td class="px-4 py-2">40-49%</td>
                                  <td class="px-4 py-2">3M</td>
                              </tr>
                              <tr class="hover:bg-gray-50">
                                <td class="px-4 py-2">0-39%</td>
                                <td class="px-4 py-2">0M</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          </div>
          <h2 id="accordion-collapse-heading-loan">
            <button (click)="toggle('maxLoan')" type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-loan" aria-expanded="false" aria-controls="accordion-collapse-body-loan">
                <span>Score Credit et Emprunts</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
            </button>
        </h2>
        
        <div *ngIf="maxLoan" id="accordion-collapse-body-loan" aria-labelledby="accordion-collapse-heading-loan">
            
          <div class="max-w-xl mx-auto bg-white rounded-lg shadow-md overflow-hidden my-2">
          <div class="my-4 mx-6">
            <p>
              <strong>Qu'est-ce qu'un Score Crédit ?</strong><br>
              Le <strong>Score Crédit</strong> est un chiffre que nous utilisons pour suivre la fiabilité d'un client dans le remboursement de ses dettes. Tout le monde commence avec un score de <strong>50</strong>. 
          </p>
          <p>
              À chaque cycle de remboursement (<strong>1 ou 2 mois</strong>), le score évolue en fonction du respect des délais :
              <ul>
                  <li>Si la dette est remboursée à temps (au plus tard à la date prévue), le client reçoit <strong>+5 points</strong>.</li>
                  <li>Si le remboursement est en retard, <strong>-2 points</strong> sont retirés pour chaque semaine de retard.</li>
              </ul>
              <em>Exemple :</em> Si un client devait rembourser sa dette avant le <strong>11 mars</strong> mais termine le <strong>1er avril</strong>, il accumule <strong>3 semaines de retard</strong> et perd <strong>6 points</strong>.
          
          <p>
              Lorsqu’un client atteint un <strong>Score Crédit de 70</strong>, il bénéficie d’un accès permanent à un prêt chaque fois qu'il en a besoin, à condition de ne pas avoir de dette en cours. De plus, l'argent prêté ne sera pas déduit de votre budget.
          </p>
          <p>
            <strong>💰 Bonus :</strong> À <strong>90 points de Score Crédit</strong>, vous recevez <strong>5% du montant emprunté</strong>, directement ajouté à votre épargne.
          </p>
          <p>
            <strong>🎉 Grand privilège :</strong> À <strong>100 points de Score Crédit</strong>, vous aurez l'opportunité de participer à une <strong>loterie annuelle</strong>, où vous pourrez gagner divers prix tels que des <strong>réfrigérateurs, de l'argent, des ustensiles de cuisine, des vêtements, des téléphones</strong>, et bien plus encore !
        </p>
        <p>
            <strong>📌 Catégories de clients haut de gamme :</strong> En fonction de  Score Crédit, Les clients seront classé dans l'une des trois catégories suivantes :
            <ul>
                <li><strong>Client Argent (Silver) - 70+ points :</strong> Accès illimité aux prêts.</li>
                <li><strong>Client Or (Gold) - 90+ points :</strong> 5% du montant emprunté ajouté à votre épargne, en plus des avantages des clients Argent.</li>
                <li><strong>Client Platine (Platinum) - 100 points :</strong> Participation à la loterie annuelle avec des prix exclusifs, en plus des avantages des clients Or.</li>
            </ul>
        
          <p style="background-color: #ffeb3b; padding: 10px; border-radius: 5px;">
            <strong>⚠️ Important :</strong> Pour chaque crédit demandé, <strong>30% du montant du prêt</strong> doit être déposé sur l’épargne pour pouvoir obtenir le prêt a partir du mois d'Avril 2025.
          </p>
          </div>
          
                <div class="p-4">
                    <div class="overflow-x-auto">
                        <table class="min-w-full bg-white border border-gray-200 text-gray-700">
                            <thead>
                                <tr class="bg-gray-100 border-b">
                                    <th class="px-4 py-2 text-left">Score Crédit</th>
                                    <th class="px-4 py-2 text-left">Montant Max (FC)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">100%</td>
                                    <td class="px-4 py-2">2M</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">95-99%</td>
                                    <td class="px-4 py-2">1.5M</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">90-94%</td>
                                    <td class="px-4 py-2">1.4M</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">85-89%</td>
                                    <td class="px-4 py-2">1.3M</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">80-84%</td>
                                    <td class="px-4 py-2">1.2M</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">75-79%</td>
                                    <td class="px-4 py-2">1.1M</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">70-74%</td>
                                    <td class="px-4 py-2">1M</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">65-69%</td>
                                    <td class="px-4 py-2">700K</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">60-64%</td>
                                    <td class="px-4 py-2">600K</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">55-59%</td>
                                    <td class="px-4 py-2">500K</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">50-54%</td>
                                    <td class="px-4 py-2">400K</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">45-49%</td>
                                    <td class="px-4 py-2">300K</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">40-44%</td>
                                    <td class="px-4 py-2">200K</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">35-39%</td>
                                    <td class="px-4 py-2">150K</td>
                                </tr>
                                <tr class="border-b hover:bg-gray-50">
                                    <td class="px-4 py-2">20-34%</td>
                                    <td class="px-4 py-2">100K</td>
                                </tr>
                                <tr class="hover:bg-gray-50">
                                    <td class="px-4 py-2">0-19%</td>
                                    <td class="px-4 py-2">0 FC</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        

       



      </div>
      
</div>


