<app-navbar [email]="this.auth.currentUser.email" [firstName]="this.auth.currentUser.firstName" [path]="'home'"></app-navbar>

<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <!-- Header -->
    <div class="flex container mx-auto justify-center text-center mb-8">
      <h2 class="text-2xl md:text-4xl font-bold">Classement Des Employée Du Mois</h2>
    </div>
    <!-- Average Performance Percentage -->
    <div class="flex container mx-auto justify-center text-center mb-8">
      <div class="bg-green-100 p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-semibold text-green-800">Performance Moyenne</h3>
        <p class="text-2xl font-bold text-green-900 mt-2">
          {{ averagePerformancePercentage }}%
        </p>
      </div>
    </div>

    <!-- Filters -->
    <div class="flex container mx-auto justify-center text-center space-x-8 mb-6">
      <div class="mb-6">
        <select
          id="month-filter"
          [(ngModel)]="givenMonth"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          (change)="ngOnInit()"
        >
          <option *ngFor="let month of monthsList" [ngValue]="month">
            {{ time.monthFrenchNames[month - 1] }}
          </option>
        </select>
      </div>

      <div class="mb-6">
        <select
          id="year-filter"
          [(ngModel)]="givenYear"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          (change)="ngOnInit()"
        >
          <option *ngFor="let year of yearsList" [ngValue]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <!-- Employee Leaderboard -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div
        *ngFor="let em of allEmployees; let i = index"
        class="flex bg-gray-50 rounded-lg shadow items-center p-4"
      >
        <!-- Rank -->
        <div class="text-center w-12 font-bold text-2xl">{{ i + 1 }}</div>
        <!-- Profile Image -->
        <div class="w-24 h-24">
          <img
            *ngIf="!em.profilePicture"
            src="../../../assets/img/user.png"
            alt="Default Avatar"
            class="w-full h-full object-cover rounded-full"
          />
          <img
            *ngIf="em.profilePicture"
            [src]="em.profilePicture.downloadURL"
            alt="Employee Avatar"
            class="w-full h-full object-cover rounded-full"
          />
        </div>
        <!-- Employee Details -->
        <div class="ml-4 flex-1">
          <h3 class="text-lg font-bold text-gray-900">
            {{ em.firstName }}  {{ em.lastName }}
          </h3>
          <p class="text-sm text-gray-500 mt-1">Role: {{ em.role }}</p>
     
          <p class="text-sm text-gray-500 mt-1 font-semibold">
           Location: {{em.tempLocationHolder}}
          </p>
          <p class="text-sm text-gray-500 mt-1 font-semibold">
            Performance: {{ em.performancePercentageMonth }}%
          </p>  
          <div *ngIf=" em.attendance && getVacationInProgressDates(em).length" class="p-4 bg-gray-100 rounded-lg shadow-md my-2">
            <h3 class="text-lg font-semibold text-gray-700 mb-4">Vacances en cours</h3>
            <ul class="space-y-4">
              <li
                *ngFor="let date of getVacationInProgressDates(em)"
                class="flex items-center justify-between p-4 bg-white rounded-lg shadow-sm border"
              >
                <span class="text-gray-700 font-medium">{{ date }}</span>
                
              </li>
            </ul>
          </div>       
        </div>  
        <!-- Action Buttons -->
        <div>
          <a
            *ngIf="em.profilePicture?.CVDownloadURL"
            [href]="em.profilePicture?.CVDownloadURL"
            target="_blank"
            class="text-sm font-medium text-white bg-green-600 px-4 py-2 rounded-full hover:bg-green-700"
            >CV</a
          >
        </div>
      </div>
    </div>

    <!-- Payments Table -->
    <div *ngIf="auth.isAdmninistrator" class="relative overflow-x-auto mt-12">
      <h1 class="text-2xl font-bold text-center mb-6">Paiements Employée</h1>
      <table class="w-full text-sm text-gray-500">
        <thead class="bg-gray-100 text-xs uppercase text-gray-700">
          <tr>
            <th class="px-6 py-3">Nom</th>
            <th class="px-6 py-3">Salaire ($)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let em of allEmployees; let i = index" class="bg-white">
            <td class="px-6 py-4 font-medium">{{ i + 1 }}. {{ em.firstName }} {{ em.lastName }}</td>
            <td class="px-6 py-4">{{ em.paymentAmount | number: '1.0-0' }} $</td>
          </tr>
          <h1 class="text-center text-2xl font-bold underline mx-auto">Maisons Loyer</h1>
          <tr *ngFor="let u of allUsers; let i=index" class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{i+1}}.  {{u.firstName}} 
            </th>
            
            <td class="px-6 py-4">
                {{u.housePayment | number:'1.0-0'}} $
                </td>
            
        </tr>
        </tbody>
        <tfoot>
          <tr class="font-semibold bg-gray-50">
            <td class="px-6 py-3 text-lg">Total</td>
            <td class="px-6 py-3 text-lg">{{ total | number: '1.0-0' }} $</td>
          </tr>
         
       
        </tfoot>
      </table>
    </div>

    <!-- Bonus Table -->
    <div *ngIf="auth.isAdmninistrator" class="relative overflow-x-auto mt-12">
      <h1 class="text-2xl font-bold text-center mb-6">Bonus Employée</h1>
      <table class="w-full text-sm text-gray-500">
        <thead class="bg-gray-100 text-xs uppercase text-gray-700">
          <tr>
            <th class="px-6 py-3">Nom</th>
            <th class="px-6 py-3">Bonus ($)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let em of allEmployees; let i = index"  class="bg-white">
            <td class="px-6 py-4 font-medium">{{ i + 1 }}. {{ em.firstName }} {{ em.lastName }}</td>
            <td class="px-6 py-4">{{ em.totalBonusThisMonth | number: '1.0-0' }} $</td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="font-semibold bg-gray-50">
            <td class="px-6 py-3 text-lg">Total</td>
            <td class="px-6 py-3 text-lg">{{ totalBonus | number: '1.0-0' }} $</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
