details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] > summary .chevron {
  transform: rotate(180deg);
}

.chevron {
  transition: transform 0.2s ease;
}
